[Unit]
Description=backup pgsql databases daily service
Documentation=https://github.com/Eideen/PG_backup

[Service]
Type=oneshot
WorkingDirectory=/etc/tilpasset/PG_backup/
ExecStart=/etc/tilpasset/PG_backup/pgsql_backup_daily.sh
User=backup
Nice=19
